<!DOCTYPE html>
<html th:replace="~{typical::typical(~{::title}, ~{::main})}">
<head>
<title>Store list</title>
</head>
<body>
<main>
	<a th:href="@{/order/add}" th:text="#{orderlist_add_new}"></a>
	<table>
		<tr>
			<th>#</th>
			<th th:text="#{orderlist_table_id}"></th>
			<th th:text="#{orderlist_table_seller}"></th>
			<th th:text="#{orderlist_table_client}"></th>
			<th th:text="#{orderlist_table_date}"></th>	
		</tr>	
		<tr th:each="order : ${orders}">
			<td th:text="${orderStat.count}"></td>
			<td th:text="${order.id}"></td>
			<td th:text="${order.seller.name}"></td>
			<td th:text="${order.client.name}"></td>
			<td th:text="${order.datetime}"></td>
			<td><a th:href="@{'/order/edit/' + ${order.id}}">Edit</a></td>
			<td><a th:href="@{/order(delete=${order.id})}">Delete</a></td>
		</tr>	
		
	</table>
</main>

</body>
</html>